$textfield-color-hover:  lightgrey;

.editableTextfield{
    width:200px;
    padding: 10px;
    text-align: center;
    font-weight: bold;

    &:focus{
        background-color: $textfield-color-hover;
    }
}